.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-primary-light, 0.7);
    border: none;
    font-family: inherit;
    color: inherit;
    width: 90%;
    border-bottom: 3px solid transparent;
    display: block;
    transition: all 0.3s;

    @include respond(tab-port) {
            width: 100%;
        }

    &::-webkit-input-placeholder {
      color: rgba($color-secondary-medium, 0.8);
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-primary-dark, 0.1);
      border-bottom: 3px solid $color-green-dark;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-dark;
    }
  }

  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 45%;
    float: left;
    margin-bottom: 8rem;

    @include respond(tab-port) {
            width: 100%;
            margin-bottom: 2rem;
        }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $font-sm;
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
  }

  &__radio-btn {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-dark;
    border-radius: 10rem;
    position: absolute;
    left: 0;
    top: -0.6rem;

    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 10rem;
      background-color: $color-dark;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-btn::after {
    opacity: 1;
  }
}
