.u-center-text {
  text-align: center;
}

.u-margin-btm-sm {
  margin-bottom: 1.5rem;
}

.u-margin-btm-md {
  margin-bottom: 5rem;
}

.u-margin-btm-lg {
  margin-bottom: 8rem;
}

.u-margin-top-lg {
  margin-bottom: 8rem;
}


